<div class="container">
  <button (click)="isShowHide()" class="btn btn-primary mt-3 mb-3 p-2">Show/Hide</button>
  <div *ngIf="isShowCard" class="card" style="width: 18rem;">
    <img src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/201807/technology.jpeg?c50IzPM5uJMl6wMpqfw9Exk653TYDvi4" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
     
    </div>
  </div>
</div>